.cand-img img{
    width: 75px;
}

.candidate {
    background-color: gainsboro;
    padding: 4px;
    display: flex;
    width: 49%;
    margin: 3px;
    word-wrap: break-word;
}

.candidate:hover {
    border: 2px solid black;
}

.activeCandidate {
    border: 2px solid red;
}

.company-table {
    font-size: 1.2rem;
}

.company-row td {
    padding: 0.6rem;
}