.cand-img img{
    width: 75px;
}

.currentStep {
    width: fit-content;
    padding: 8px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
}

.candidate {
    padding: 5px;
    background-clip: content-box;
    overflow: hidden;
    background-color: gainsboro;
    padding: 4px;
    word-wrap: break-word;
}
.borderActive {
    border: 2px solid black !important;
}

.candidate:hover {
    border: 2px solid black;
    cursor: pointer;
}

.row-wrapper {
    padding: 10px;
}

.company:hover {
    cursor: pointer;
    border: 1px solid black;
}