.cand-img img{
    width: 75px;
}

.currentStep {
    width: fit-content;
    padding: 8px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
}

.candidate {
    padding: 5px;
    background-clip: content-box;
    overflow: hidden;
    background-color: gainsboro;
    padding: 4px;
    word-wrap: break-word;
}
.borderActive {
    border: 2px solid black !important;
}

.candidate:hover {
    border: 2px solid black;
    cursor: pointer;
}

.company-table {
    font-size: 1.2rem;
}

.company-table:hover {
    cursor: pointer;
}

.company-row td {
    padding: 0.6rem;
}